{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="wrapper ">
    {% include 'includes/sidebar.html' %}
    <div class="main-panel">
      {% include 'includes/navigation.html' %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          {% block content %}{% endblock content %}
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}